<html lang="{{locale}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{siteName}} | {{subject}}</title>
  </head>
  <body>
    <span>{{greeting}},</span>
    <br />
    <br />
    <span>{{{sentence1}}}</span>
    <br />
    <br />
    <span>{{{sentence2}}}</span>
    <br />
    <br />
    <span>{{goodbye}},</span>
    <br />
    <br />
    <span>{{siteName}}</span>
  </body>
</html>